{% block content %}
    <h1>Détails de la Carte</h1>
    <p>Nom de la carte : {{ card.name }}</p>
    <p>Niveau de la carte : {{ card.level }}</p>
    <p>Attribut de la carte : {{ card.attribute }}</p>
    <p>Description de la carte : {{ card.description }}</p>
</div>
{% endblock %}