{% block content %}
    <h1>Liste des Cartes</h1>
    <a href="{{ path('card_create') }}" class="btn btn-success">Créer une carte</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Attribut</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
                <tr>
                    <td>{{ card.name }}</td>
                    <td>{{ card.attribute }}</td>
                    <td>{{ card.level }}</td>
                    <td>{{ card.description }}</td>
                    <td>
                        <a href="{{ path('card_edit', {'id': card.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('card_delete', {'id': card.id}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('card_details', {'id': card.id}) }}" class="btn btn-info">Voir les détails</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}