body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.table th {
  background-color: #f2f2f2;
}

.table a {
  color: #3498db;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.w-8 {
  width: 8%;
}